body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(212, 160, 14, 0.781));
    font-family: Arial, sans-serif;
}

.contenedor {
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.caja {
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    width: 30%;
    padding: 20px;
    text-align: center;
    border: 2px solid white;
    border-radius: 8px;
    box-sizing: border-box;
}

@media (max-width: 768px) {
    .contenedor {
        flex-direction: column;
        align-items: center;
    }

    .caja {
        width: 80%;
        margin-bottom: 20px;
    }
}
