body {
    user-select: none;
    background-color: #424242;
    font-family: sans-serif;
}

.container {
    width: 100%;
}

.countA-box {
    width: 520px;
    height: 520px;
    position: absolute;
    top: 10px;
    left: 10px;
}

.countB-box {
    width: 520px;
    height: 520px;
    position: absolute;
    top: 10px;
    left: 750px;
}

.setA-box {
    width: 110px;
    height: 150px;
    position: absolute;
    top: 10px;
    left: 530px;
    color: white; 
    font-size: 4em;
    font-weight: bold;
    text-align: center;
}

.setB-box {
    width: 110px;
    height: 150px;
    position: absolute;
    top: 10px;
    left: 640px;
    color: white; 
    font-size: 4em;
    font-weight: bold;
    text-align: center;
}

.ajustes {
    width: 200px;
    height: 100px;
    background-color: gray;
    position: absolute;
    top: 190px;
    left: 540px;
    line-height: 50px;
    text-align: center;
    color: white;
    font-weight: bold;
}

.timeA1-box {
    width: 245px;
    height: 80px;
    background-color: darkblue;
    position: absolute;
    top: 540px;
    left: 285px;
    color: white; 
    font-size: 2em;
    font-weight: bold;
    text-align: center;
}
.countmin1-box {
    width: 245px;
    height: 80px;
    background-color: darkblue;
    position: absolute;
    top: 540px;
    left: 30px;
    color: white; 
    font-size: 2em;
    font-weight: bold;
    text-align: center;
}

.timeA2-box {
    width: 245px;
    height: 80px;
    background-color: darkred;
    position: absolute;
    top: 540px;
    left: 750px;
    color: white; 
    font-size: 2em;
    font-weight: bold;
    text-align: center;
}

.countmin2-box {
    width: 245px;
    height: 80px;
    background-color: darkred;
    position: absolute;
    top: 540px;
    left: 1005px;
    color: white; 
    font-size: 2em;
    font-weight: bold;
    text-align: center;
}

.counter {
    position: absolute;
    color: white;
    font-size: 14em;
    font-weight: bold;
    left: 23%;
    text-align: center;
    line-height: 115%;
}

.counter.over-nine {
    left: 0%;
}

.counter.over-ten {
    left: 5px;
}

.qr img{
    position: absolute;
    width: 220px;
    height: 220px;
    top: 160px;
    left: 530px;
}
